.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  background-color: #222;
  padding: 5px 5px 10px 5px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-content {
  padding: 5px;
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #fff;
  padding: 5px;
  text-decoration: none;
  outline: none;
}

.App-link.active {
  color: #5bcbe9;
}

.form-group {
  margin-bottom: 5px;
}

.error {
  color: rgba(255, 0, 0, 0.5);
  font-size: 11px;
}
